* {
  font-family: Roboto;
  box-sizing: border-box;
}

body{
 background-color: #F2F1F6;
}

.list {
  padding: 10px 15px;
  margin-bottom: 40px;
}

.header {
  padding-bottom: 15px;
  font-size: 35px;
  font-weight: 900;
}

.input {
  margin-bottom: 25px;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  background-color: #E4E3E9;
  border:#E4E3E9;
  border-radius: 10px;
  height: 35px;
  outline: none;
}

.task-list {
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

li:last-child {
  border-bottom: none;
}

.task-row {
  list-style-type: none;
  border-bottom: 0.5px solid #E4E3E9;
}

.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding: 20px;
}

.task-name {
  margin-left: 10px;
}

.checkbox {
  cursor: pointer;
}

.no-tasks {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #e9e8ec;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 13px;
}

.fa-circle-minus {
  color: #2f2f2f;
}

.fa-circle-minus:hover {
  color: rgb(255, 99, 99);
}

@media (min-width: 640px) { 
  body {
    background-color: #2f2f2f;
  }

  section {
    width: 390px;
    height: 844px;
    background-color: #F2F1F6;
    border-radius: 5px;
    margin: 25px auto;
  }
}