* {
  font-family: Roboto;
}

body{
 padding: 20px 15px;
}

#title {
  font-size: 40px;
  font-weight: 800;
  margin: 15px 0px;
}

#add {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  font-size: 18px;
  background-color: #F2F2F2;
  border-radius: 10px;
  margin-bottom: 25px;
  border:#F2F2F2;
  height: 35px;
}

.to-do{
  font-size: 15px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 2px solid #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
}

.task-title {
  margin-left: 10px;
}

.checkbox {
  cursor: pointer;
}

#no-tasks {
  text-align: center;
  font-size: 15px;
  color: #b9b9b9;
}